html{
    background-image: url(../assets/images/background.webp);
    background-size: cover;
}

a{
    color:green;
    font-size: 25px;
    font-style: italic;
}

h1{
    font-size: 30px;

}

h2{
    font-style: italic;
    color:blueviolet
}

p {
    font-size: 20px;
}

#linkedin { /*# chama a ID*/
    color:rgb(23, 134, 36);
    font-style:normal;
    font-size: 20px;
}

#sobreMim {
    color:black
}

#tagsHtml {
    border: none;
    font-size: 15px;
}

#tagsOcultas {
    display: none;
    font-size: 25px;
}

#ocultarTag {
    margin-left: auto;
    margin-right: auto;
    display: none;
    border:none;
}

#tituloMain {
    border-radius: 25%;
}

#tiposUsoCss {
    color:tomato;
    font-size: 22px;
}
h4{
    color:blue
}

#imgChamandoCss {
    display: none;
}

