<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styles/style.css" media="screen"/> <!--Chamando o CSS-->
        <script src="../app/jquery-3.7.1.min.js"></script>
        <script src="../app/script-css.js"></script>
    <title>CSS</title>
    </head>
    <body>
        <nav> <!--Agrupar lista de links-->
            <h2 align="center">NAVEGAÇÃO PRINCIPAL</h2>
                <div align="center"> <!--align alinha onde você escolher-->
                <a id="home" href="home.html" target="_self">HOME</a>
                <a id="html" href="html.html" target="_self">HTML</a> <!--"a" vincula a links externos-->
                <a id="js" href="javascript.html" target="_self">JAVASCRIPT</a><!--target="blank" é pra abrir o link em nova guia-->
                <a id="java" href="java.html" target="_self">JAVA</a>
                <a id="angular" href="Angular.html" target="_self">ANGULAR</a>
                </div>
            <h1 align="center">CSS</h1> <!--Título principal-->
            <div>
            <h2>CSS Básico</h2>
            <p>CSS é a sigla para Cascading Style Sheets, que, em português, significa Folhas de 
                Estilo em Cascata. Essa linguagem de estilo é acessível e compreensível, sendo 
                facilmente aplicada em conjunto com as linguagens de marcação HTML ou XHTML. Existem 
                três formas para aplicar o CSS em nosso projeto WEB:
                <h3 id="tiposUsoCss">CSS Online com Atributo Style:</h3>
                    <p>Aplique estilos diretamente em um elemento HTML usando o atributo style, inserindo as propriedades 
                    de estilo no próprio elemento. É adequado para estilos simples ou específicos.</p>
                <h3 id="tiposUsoCss">CSS como Arquivo Externo com Elemento Link:</h3>
                    <p>Armazene estilos em um arquivo CSS e referencie-o no HTML usando o elemento link. Promove a 
                    modularidade e reutilização de estilos em várias páginas.</p>
                <h3 id="tiposUsoCss">CSS no HTML com Elemento Style Embutido:</h3>
                    <p>Incorpore estilos no HTML usando o elemento style. Útil para estilos específicos, mas pode ser 
                    menos prático em projetos maiores ou com estilos compartilhados.</p>
            </p>
            </div>

            <h2>Uso popular do CSS</h2>
                <p>
                    O uso mais popular do CSS é o CSS como Arquivo Externo com Elemento Link, é o
                    que eu uso também.
                </p>

                <h4>Como linkar o CSS no HTML?</h4>
                <p>
                    Dentro do "&lt;head>" do seu documento você vai usar o elemento "&lt;link>" para
                    chamar sua folha CSS, <button id="chamandoCss">Clique Aqui</button>para visualizar.
                </p>
                <img id="imgChamandoCss" src="../assets/images/chamandocss.png">
                <p>
                    Normalmente se usa como "padrão" o nome "style.css" para a folha de CSS. <br>
                </p>
            <h4>O que é "type", "href" e "media"?</h4>

        <footer>&copy; 2024 - César Fraga da Silva</footer>
    </body>
</html> 