<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css" media="screen"/> <!--Chamando o CSS-->
    <title>HTML</title>
    </head>
    <body>

        <h1>APRIMORANDO HTML</h1>
        <h2>O que é HTML?</h2>
        <p>HTML é uma linguagem de marcação que serve como uma estrutura para um projeto
            web, seria o "esqueleto" do projeto.
        </p>

        <h3>Estrutura base do HTML:</h3>

        <img src="../../src/assets/images/estruturahtml.png" alt="Estrutura HTML">
        <p>

        </p>

        
    </body>
</html>