<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styles/style.css" media="screen"/> <!--Chamando o CSS-->
        <script src="../app/jquery-3.7.1.min.js"></script> <!--Chama o jquery do JS para trabalhar com mais praticidade-->
        <script>
            $(document).ready(function(){ //Adicionar eventos ao meu site usando JQuery
                $("#tagshtml").click(function(){ //Evento de clique
                    $("#tagsocultas, #ocultartag").fadeIn(3000); //Exibe com delay 3000 = 3s
                    
                    $("#ocultartag").animate({
                        width: "200px",
                        marginLeft: "auto",
                        marginRight: "auto"
                    });
                })
                $("#tagshtml").mouseover(function(){
                    $("#tagshtml").animate({
                        opacity: "0.5"
                    })
                })
                $("#tagshtml").mouseout(function(){
                    $("#tagshtml").animate({
                        opacity: "1"
                    })
                })
                $("#ocultartag").mouseover(function(){
                    $("#ocultartag").animate({
                        opacity: "0.5"
                    })
                })
                $("#ocultartag").mouseout(function(){
                    $("#ocultartag").animate({
                        opacity: "1"
                    })
                })
               $("#ocultartag").click(function(){
                    $("#tagsocultas, #ocultartag").fadeOut(1500); //Oculta com delay 1500 = 1,5s
                }) 
                
            }) 
    
        </script>
    <title>HTML</title>
    </head>
    <body>

        <h1 align="center">HTML</h1>
        <div> 
            <h2>O que é HTML?</h2>
            <p>
                HTML é uma linguagem de marcação que serve como uma estrutura para um projeto web, seria 
                o "esqueleto" do projeto. Os arquivos em HTML podem ser interpretados por navegadores.
            </p>

            <h2>Elementos ou TAGS</h2>
            <p>
                Os elementos no HTML funcionam como termos-chave que instruem o navegador sobre a formatação e 
                apresentação do conteúdo. Essas marcações são sempre encapsuladas por símbolos de chevron
                (<>), e dentro delas, encontram-se atributos que definem as propriedades dos 
                elementos, orientando a construção do documento HTML e especificando as características
                dos componentes. O navegador, ao interpretar o documento, segue uma leitura de cima
                para baixo e da esquerda para a direita.<br> 
                Segue o exemplo: &lt;modelo&gt; e o fechamento se dá
                usando uma "/" dessa forma: &lt;/modelo&gt;<!--&lt; = Abertura | &gt; = Fechamento-->
            <button id="tagshtml">Clique Aqui</button> para ver as principais tags e suas funcionalidades.
            </p>
            <!-- <img src="../../src/assets/images/fotoperfil.jpg" id="tagsocultas" width="200px" height="200px"> <br> -->
        </div>
       <div id="tagsocultas">
            &lt;!DOCTYPE html> - Instrução para o navegador entender em qual versão do HTML a página está escrita. <br>
            &lt;html> - Elemento raíz do documento HTML <br>
            &lt;head> - Fornece informações essenciais, conhecidas como metadados, sobre o documento. <br>
            &lt;body> - Representa o conteúdo do documento HTML. <br>
            &lt;a> - <br>
            <button id="ocultartag">Ocultar</button>
        </div> 
        <footer>&copy; 2024 - César Fraga da Silva</footer>
    </body>
</html>