<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styles/style.css" media="screen"/> <!--Chamando o CSS-->
        <script src="../app/jquery-3.7.1.min.js"></script>
        <script src="../app/script-js.js"></script>
    <title>JavaScript</title>
    </head>
    <body>
        <h1 id="tituloMain" align="center">Adicionando titulo</h1> <!--Título principal-->
        <nav> <!--Agrupar lista de links-->
            <h2 align="center">NAVEGAÇÃO PRINCIPAL</h2>
                <div align="center"> <!--align alinha onde você escolher-->
                <a id="home" href="home.html" target="_self">HOME</a>
                <a id="html" href="html.html" target="_self">HTML</a> <!--"a" vincula a links externos-->
                <a id="css" href="css.html" target="_self">CSS</a> <!--target="blank" é pra abrir o link em nova guia-->
                <a id="java" href="java.html" target="_self">JAVA</a>
                <a id="angular" href="Angular.html" target="_self">ANGULAR</a>
                </div>
        <footer>&copy; 2024 - César Fraga da Silva</footer>
    </body>
</html>